.container {
	margin: auto;
	max-width: 65%;
	padding: 0% 2%;
}
.container > p {
	font-size: 100%;
}
svg:not(:root).svg-inline--fa {
	overflow: visible;
}
.svg-inline--fa.fa-w-14 {
	width: 0.875em;
}
.svg-inline--fa {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -0.125em;
	margin-right: 5px;
}
.timestamp {
	font-size: 75%;
}
a:visited{
	color: inherit;
}